<nav class="text-[color:var(--dark)] bg-white">
  <div class="container mx-auto px-5">
    <div class="flex h-16 items-center justify-between">

      <!-- Navigation -->
      <div class="flex space-x-4">
         <%= link_to "Accueil", root_path,
            class: "hover:text-[color:var(--light)] px-3 py-2 rounded-md text-sm font-medium" %>

        <%= link_to "Produits", products_path,
            class: "hover:text-[color:var(--light)] px-3 py-2 rounded-md text-sm font-medium" %>
      </div>

      <!-- Logo -->
      <div class="flex items-center">
        <%= link_to "OPS3D", root_path, class: "text-5xl black-ops-one" %>
      </div>

      <!-- Auth -->
      <div class="flex items-center space-x-4">
        <% if user_signed_in? %>
          <span class="text-sm">
            <%= current_user.email %>
          </span>

          <%= button_to "Déconnexion",
              destroy_user_session_path,
              method: :delete,
              class: "hover:text-[color:var(--light)] text-sm" %>
        <% else %>
          <%= link_to "Connexion",
              new_user_session_path,
              class: "hover:text-[color:var(--light)] text-sm" %>

          <%= link_to cart_path, class: "hover:text-[color:var(--light)] px-3 py-2 rounded-md text-sm font-medium" do %>
            Mon panier
            <% if current_cart && current_cart.cart_items.any? %>
              <span class="ml-1 bg-red-500 text-white text-xs px-2 py-1 rounded-full">
                <%= current_cart.cart_items.sum(:quantity) %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</nav>