<div class="mx-auto container px-4 py-10">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-900"><%= t('.title') %></h1>
    <p class="mt-2 text-sm text-gray-500">
      <%= t('.subtitle') %>
    </p>
  </div>

  <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
    <!-- FORM -->
    <div class="lg:col-span-2">
      <div class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm">
        <% if @order&.errors&.any? %>
          <div class="mb-6 rounded-xl border border-red-200 bg-red-50 p-4">
            <h2 class="text-sm font-semibold text-red-800">
              <%= t('.contain') %> <%= pluralize(@order.errors.count, t('.error')) %>.
            </h2>

            <ul class="mt-2 list-disc pl-5 text-sm text-red-700">
              <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with model: @order, local: true, class: "space-y-6" do |f| %>
          <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            <div>
              <%= f.label :first_name, t('.fname'), class: "block text-sm font-medium text-gray-700" %>
              <%= f.text_field :first_name, class: "mt-1 block w-full rounded-xl border border-gray-300 px-4 py-3 text-sm focus:border-gray-900 focus:outline-none" %>
            </div>

            <div>
              <%= f.label :last_name, t('.sname'), class: "block text-sm font-medium text-gray-700" %>
              <%= f.text_field :last_name, class: "mt-1 block w-full rounded-xl border border-gray-300 px-4 py-3 text-sm focus:border-gray-900 focus:outline-none" %>
            </div>

            <div class="md:col-span-2">
              <%= f.label :email, "Email", class: "block text-sm font-medium text-gray-700" %>

              <%= f.email_field :email,
                value: current_user.email,
                disabled: true,
                class: "mt-1 block w-full rounded-xl border border-gray-300 bg-gray-100 px-4 py-3 text-sm text-gray-500 cursor-not-allowed" %>

              
              <%# <p class="mt-1 text-xs text-gray-500">
                 t('.email_use')
              </p> %>
            </div>

            <div class="md:col-span-2" data-controller="address-autocomplete">
              <div class="relative">
                <%= f.label :address_line, "Adresse", class: "block text-sm font-medium text-gray-700" %>

                <%= f.text_field :address_line,
                  data: {
                    address_autocomplete_target: "input",
                    action: "input->address-autocomplete#search"
                  },
                  autocomplete: "street-address",
                  class: "mt-1 block w-full rounded-xl border border-gray-300 px-4 py-3 text-sm focus:border-gray-900 focus:outline-none" %>

                <div
                  data-address-autocomplete-target="suggestions"
                  class="absolute z-50 mt-2 w-full overflow-hidden rounded-xl border border-gray-200 bg-white shadow-lg">
                </div>
                <p class="mt-3 text-xs text-gray-500">
                  <%= t('.suggestion') %>
                </p>
              </div>

              <div class="md:col-span-2 mt-6">
                <%= f.label :address_line2, t('.supplement'), class: "block text-sm font-medium text-gray-700" %>
                <%= f.text_field :address_line2,
                  autocomplete: "address-line2",
                  class: "mt-1 block w-full rounded-xl border border-gray-300 px-4 py-3 text-sm focus:border-gray-900 focus:outline-none" %>
              </div>

              <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 mt-6">
                <div>
                  <%= f.label :postal_code, "Code postal", class: "block text-sm font-medium text-gray-700" %>
                  <%= f.text_field :postal_code,
                    data: { address_autocomplete_target: "postalCode" },
                    autocomplete: "postal-code",
                    class: "mt-1 block w-full rounded-xl border border-gray-300 px-4 py-3 text-sm focus:border-gray-900 focus:outline-none" %>
                </div>

                <div>
                  <%= f.label :city, "Ville", class: "block text-sm font-medium text-gray-700" %>
                  <%= f.text_field :city,
                    data: { address_autocomplete_target: "city" },
                    autocomplete: "address-level2",
                    class: "mt-1 block w-full rounded-xl border border-gray-300 px-4 py-3 text-sm focus:border-gray-900 focus:outline-none" %>
                </div>
              </div>

              <div class="md:col-span-2 mt-6">
                <%= f.label :country, "Pays", class: "block text-sm font-medium text-gray-700" %>
                <%= f.text_field :country,
                  data: { address_autocomplete_target: "country" },
                  autocomplete: "country-name",
                  class: "mt-1 block w-full rounded-xl border border-gray-300 px-4 py-3 text-sm focus:border-gray-900 focus:outline-none" %>
              </div>
            </div>
          </div>

          <div class="pt-2">
            <%= f.submit t('.create'),
              class: "cursor-pointer inline-flex items-center justify-center rounded-xl bg-gray-900 px-6 py-3 text-sm font-medium text-white hover:bg-gray-700" %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- SUMMARY -->
    <div class="lg:col-span-1">
      <div class="sticky top-6 rounded-2xl border border-gray-200 bg-white p-6 shadow-sm">
        <h2 class="text-xl font-semibold text-gray-900"><%= t('.sum') %></h2>

        <div class="mt-6 space-y-4">
          <% @cart_items.each do |item| %>
            <div class="flex items-start justify-between gap-4">
              <div>
                <p class="text-sm font-medium text-gray-900"><%= item.product.name %></p>
                <p class="text-sm text-gray-500"><%= t('.quantity') %> : <%= item.quantity %></p>
              </div>

              <p class="text-sm font-medium text-gray-900">
                <%= number_to_currency((item.quantity * item.product.price_cents) / 100.0, unit: "€") %>
              </p>
            </div>
          <% end %>
        </div>

        <div class="mt-6 space-y-4 border-t border-gray-200 pt-6 text-sm">
          <div class="flex items-center justify-between text-gray-600">
            <span><%= t('.subtotal') %></span>
            <span><%= number_to_currency(@subtotal_cents / 100.0, unit: "€") %></span>
          </div>

          <div class="flex items-center justify-between text-gray-600">
            <span><%= t('.fee') %></span>
            <span><%= number_to_currency(@shipping_cents / 100.0, unit: "€") %></span>
          </div>

          <div class="flex items-center justify-between border-t border-gray-200 pt-4 text-base font-semibold text-gray-900">
            <span><%= t('.total') %></span>
            <span><%= number_to_currency(@total_cents / 100.0, unit: "€") %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>