<h2 class="text-2xl font-bold text-center mb-6 text-[color:var(--dark)]">Connexion</h2>

<div class="max-w-md mx-auto bg-white mb-16 p-6 rounded-lg shadow">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, class: "mt-1 block w-full border rounded px-3 py-2" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password, class: "mt-1 block w-full border rounded px-3 py-2" %>
    </div>

    <div class="flex items-center justify-between mb-4">
      <% if devise_mapping.rememberable? %>
        <label class="flex items-center">
          <%= f.check_box :remember_me %>
          <span class="ml-2 text-sm">Se souvenir de moi</span>
        </label>
      <% end %>
      <%if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <p><%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "text-sm hover:underline text-[color:var(--dark)]" %></p>
      <% end %>
    </div>

    <div>
      <%= f.submit "Se connecter",
          class: "w-full bg-[color:var(--dark)] text-white py-2 rounded hover:bg-[color:var(--light)] cursor-pointer" %>
    </div>

  <% end %>

  <div class="mt-4 text-center text-sm">
    <%= link_to "Créer un compte", new_user_registration_path, class: "text-[color:var(--dark)] hover:underline" %>
  </div>
</div>


