<h1>Products</h1>
<div class="grid grid-cols-3 gap-6">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do  %>
      <% if product.images.attached? %>
        <% product.images.each do |image| %>
          <%= image_tag image, class: "w-full h-auto" %>
        <% end %>
      <% end %>
      <div class="border p-4 rounded">
        <h2 class="font-bold text-lg">
          <%= product.name %>
        </h2>

        <p class="text-gray-600">
          <%= truncate(product.description, length: 100) %>
        </p>

        <p class="mt-2 font-semibold">
          <%= number_to_currency(product.price_cents / 100.0, unit: "€") %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>