<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ops3d" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Ops3d">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Google fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
  </head>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <%= render 'shared/navbar' %>
    <!-- Notice -->
    <div class="top-4 right-4 z-50 flex flex-col gap-3">
      <% flash.each do |type, message| %>
        <% next if message.blank? %>

        <% classes =
          case type.to_sym
          when :notice
            "bg-green-50 text-green-800 border-green-200"
          when :alert
            "bg-red-50 text-red-800 border-red-200"
          else
            "bg-gray-50 text-gray-800 border-gray-200"
          end
        %>

        <div class="min-w-[250px] max-w-sm rounded-xl border px-4 py-3 text-sm shadow-lg <%= classes %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <!-- Layout -->
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
