<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "OPS3D" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Impression 3D personnalisée de qualité professionnelle." %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Ops3d">
    <meta name="mobile-web-app-capable" content="yes">

    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'OPS3D' %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'Impression 3D personnalisée' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : cl_image_path('ultis5v1og', width: 1200, height: 630, crop: :fill, quality: 'auto:eco', gravity: :auto, fetch_format: 'jpg') %>">
    <meta property="og:site_name" content="OPS3D">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : "OPS3D" %>">
    <meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : "Impression 3D et accessoires personnalisés." %>">
    <meta name="twitter:image" content="<%= content_for?(:og_image) ? yield(:og_image) : cl_image_path('ultis5v1og', width: 1200, height: 630, crop: :fill, quality: 'auto:eco', gravity: :auto, fetch_format: 'jpg') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# HrefLang %>
    <link rel="canonical" href="<%= @canonical_url || url_for(only_path: false) %>">
    <link rel="alternate"
          hreflang="fr"
          href="<%= url_for(locale: :fr, only_path: false) %>">
    <link rel="alternate"
          hreflang="en"
          href="<%= url_for(locale: :en, only_path: false) %>">
    <link rel="alternate" hreflang="x-default" href="<%= root_url(locale: :fr, only_path: false) %>">

    <%# Preconnect %>
    <link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
    <link rel="dns-prefetch" href="//res.cloudinary.com">

    <%# NoIndex %>
    <% if controller_name.in?(%w[ carts cart_items orders guest_orders paypal_checkouts paypal_webhooks stripe_webhooks sessions registrations ]) %>
      <meta name="robots" content="noindex,nofollow">
    <% end %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col bg-gray-100">
    <!-- Navbar -->
    <%= render 'shared/navbar' %>
    <!-- Notice -->
    <div class="container mx-auto px-4 flex justify-end">
      <div class="fixed">
        <% flash.each do |type, message| %>
          <% next if message.blank? %>

          <% classes =
            case type.to_sym
            when :notice
              "bg-green-50 text-green-800 border-green-200"
            when :alert
              "bg-red-50 text-red-800 border-red-200"
            else
              "bg-gray-50 text-gray-800 border-gray-200"
            end
          %>

          <div 
            data-controller="flash"
            data-flash-delay-value="3500" 
            class="z-999 mt-2 max-w-full rounded-xl border px-4 py-3 text-sm shadow-lg transition-all duration-300 ease-out opacity-0 -translate-y-2 <%= classes %>">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Layout -->
    <% full_width_page = controller_name == "pages" && action_name == "home" %>
    <main class="flex-1 <%= full_width_page ? "" : "container mx-auto px-4" %>">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
